.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    color: white;
    font-size: 15px;
}

.card:hover{
    opacity:0.3;
    color: black;
}